<div class="container">
    <h2><%= params[:search] %></h2>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Opinion</th>
            </tr>
        </thead>
        <tbody>
         <% @mensore_ranks.each do |rank| %>
            <tr>
                <td>
                    <%= attachment_image_tag(rank.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40') %>
                </td>
                <td>
                    <%= rank.title %>
                </td>
                <td>
                    <%= rank.body %>
                </td>
                <td>
                <%= rank.bookmarks.count %>
                </td>
                <td>
                <%= link_to '詳しく', mensore_path(rank), class: "mensore_#{rank.id}" %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>