<div class='row'>
  <div class='col-xs-3'>
    <h2>User info</h2>
      <%= render 'users/info', user: @mensore.user %>
    <h2>New kiji</h2>
      <%= render 'form', mensore: Mensore.new %>
  </div>
  

 
  </div>
          <% unless current_user == @user %>
            <% if current_user.following?(@user) %>
              <%= form_for(current_user.relationships.find_by(follow_id: @user.id), html: { method: :delete }) do |f| %>
                <%= hidden_field_tag :follow_id, @user.id %>
                <%= f.submit 'Unfollow', class: 'btn btn-danger btn-block' %>
              <% end %>
            <% else %>
            <%# binding.pry %>
              <%= form_for(current_user.relationships.build) do |f| %>
                <%= hidden_field_tag :follow_id, @user.id %>
                <%= f.submit 'フォローする', class: 'btn btn-primary btn-block' %>
              <% end %>
            <% end %>
          <% end %>

  <div class='col-xs-9'>
		<h2>mensore detail</h2>
		<table class='table'>
		  <tr id="mensore_<%= @mensore.id %>">
        <td>
          <%= link_to user_path(@mensore.user) do %>
            <%= attachment_image_tag(@mensore.user, :profile_image, :fill, 100, 100, fallback: "no-image-icon.jpg") %><br>
            <%= @mensore.user.name %>
          <% end %>
        </td>
        <td> <%= attachment_image_tag @mensore, :image, :fill, 100, 100, format: 'jpeg' %></td>
        <td><%= link_to @mensore.title, mensore_path(@mensore) %></td>
        <td><%= @mensore.body %></td>
        <td class="bookmarksbtn"><%= render "bookmarks/bookmark-btn", mensore: @mensore, bookmark: @bookmark %></td>
        <td class="comments-count">コメント数: <%= @mensore.mensore_comments.count %></td>
        <!--星評価-->
         <td id="star-rate-<%= @mensore.id %>"></td>
          <script>
          $('#star-rate-<%= @mensore.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= @mensore.star %>,
          });
          </script>
        <!--/星評価-->

        <% if @mensore.user == current_user %>
          <td><%= link_to 'Edit', edit_mensore_path(@mensore), class: "btn-sm btn-success edit_mensore_#{@mensore.id}" %></td>
        <% end %>
      </tr>
    </table>
    <table class="mensore_comments">
      <%= render 'mensore_comments/index', mensore: @mensore %>
    </table>
    <%= form_with model:[@mensore,@mensore_comment] do |f| %>
      <%= f.text_area :comment, size:"90x5" %>
      <%= f.submit '送信'%>
    <% end %>

  </div>
</div>